/* ===================Header================== */
.header {
    width: 100%;
    height: 900px;
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media(max-width: 1200px) {
    .header .event {
        padding-top: 10px;
    }
}

/* ===================Navbar================== */
* {
    box-sizing: border-box;
    outline: 0 !important;
}

/* .navbar-icon{
    font-size: 60px;
    z-index: 99;
}
.icon-navbar{
    width: 50px;
    height: 50px;
    color: white; color: white;
    position: absolute;
    right:-135px;
    top:-100px;
} */
@media screen and (max-width: 1400px) {
    .logo-button .btn-1 {
        display: none;
    }
}
.logo-button {
    width: 95%;
}

@media screen and (max-width: 1400px) {
    .logo-button .btn-1 {
        display: none;
    }
}

.logo {
    width: 180px;
    height: 150px;
    padding: 30px;
}

.logo2 {
    width: 180px;
    height: 150px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .logo2 {
        margin-left: 30px;
    }
}

.nav-item {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-item:hover {
    color: #ff07fe;
}

.btn-1 {
    width: 210px;
    background: linear-gradient(270deg, rgba(171, 0, 229, 1) 0%, rgba(88, 20, 121, 1) 100%);
    display: inline-block;
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-1:hover {
    background: rgba(88, 20, 121, 1);
    transition: 0.4 ease;
}

.btn-2:hover {
    background: rgba(88, 20, 121, 1);
    transition: 0.4 ease;
}

.btn-3:hover {
    background: black;
    transition: 0.4 ease;
}

/* ===================//////NAvbar================== */
.event {
    width: 100%;
    height: 580px;
    display: flex;
    align-items: flex-end;
}

.figure {
    width: 50%;
    height: 70px;
    padding-top: 170px;
}

.figure-h1 {
    font-size: 60px;
    color: white;
}

.figure-h2 {
    font-size: 30px;
    color: white;
    line-height: 30px;
}

.header-1 {

    width: 450px;
    height: 180px;

}

@media screen and (max-width: 600px) {
    .event .figure {
        padding-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .event .text-h1 {
        font-size: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px)and(min-width:500px) {
    .event .header-1 {
        width: 440px;
    }
}


@media screen and (max-width: 500px) {
    .event .header-1 {
        width: 340px;
    }
}

@media screen and (max-width: 1000px) {
    .event .figure-h1 {
        font-size: 40px;
        margin-top: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .event .figure-h2 {
        font-size: 40px;
        margin-top: 30px;
    }
}

.text-h1 {
    font-size: 45px;
    color: white;
}

/* ============/////Header============ */
/* =============Service============= */
.service {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1200px) {
    .service {
        min-height: 1000px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:1000px) {
    .service .logo1 {
        width: 350px;
        height: 300px;
    }
}

.logo1 {
    width: 420px;
    height: 350px;
    margin-top: 20px;
}

.service-h1 {
    font-size: 50px;
    font-weight: bold;
}

.service-p {
    font-size: 20px;
    color: grey;
}

.btn-2 {
    width: 200px;
    height: 60px;
    background: linear-gradient(270deg, rgba(171, 0, 229, 1) 0%, rgba(88, 20, 121, 1) 100%);
    display: inline-block;
    border: 3px solid white;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-right: 30px;
}

.btn-3 {
    width: 200px;
    height: 60px;
    background: linear-gradient(270deg, rgba(171, 0, 229, 1) 0%, rgba(88, 20, 121, 1) 100%);
    display: inline-block;
    border: 3px solid white;
    border-radius: 50px;
    padding: 7px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media(max-width:600px) {
    .service .btn-2 {
        width: 150px;
        height: 50px;
        font-size: 13px;
        margin: 5px 5px;
    }
}

@media(max-width:600px) {
    .service .btn-3 {
        width: 150px;
        height: 50px;
        font-size: 13px;
        margin: 5px 5px;
    }
}

/* =============/////Service=========== */
/* ===============Picture============== */
.picture {
    width: 100%;
    height: 1500px;
    background-image: url(img/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.featured-events {
    width: 100%;
    height: 1300px;
    padding-top: 90px;
    position: relative;
}

/* @media screen and (min-width: 992px) {
     {
       justify-content: center;
    }
}  */
.featured-events {
    /* height: auto; */
    padding: 110px 0 150px;
}

@media screen and (min-width: 1200px) {
    .featured-events {
        min-height: 1480px;
    }
}

@media screen and (min-width: 992px) {
    .featured-events {
        min-height: 1260px;
    }
}

@media screen and (min-width: 1200px) {
    .featured-events .event-content-wrap {
        position: absolute;
        top: auto;
        left: auto;
        margin-bottom: 0;
    }
}

/* @media screen and (max-width: 992px)and(min-width:600px) {
    .featured-events .img1 {
        width: 290px;
        height: 300px;
        background-size: cover;
        top: 200px;
    }
} */

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img1 {
        width: 330px;
        height: 360px;
        background-size: cover;
        top: 100px;
    }
}

@media screen and (max-width:992px) {
    .featured-events .img1 {
        width: 350px;
        height: 350px;
        background-size: cover;
        top: 100px;
    }
}

.img1 {
    width: 365px;
    height: 400px;
    background: #231e23;
    background-image: url(img/16.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 120px;
}

.image-text {
    width: 200px;
    height: 40px;
    background: rgba(171, 0, 229, 1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;
}

.image-text:hover {
    background: rgba(88, 20, 121, 1);
}

@media screen and (max-width: 992px) {
    .featured-events .image-text {
        width: 150px;
        height: 25px;
    }
}

@media screen and (max-width: 992px) {
    .image-text .img-text {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.img-text {
    font-size: 15px;
    color: white;
}

.img-month {
    color: white;
}

.img2 {
    width: 170px;
    height: 170px;
    background: #231e23;
    background-image: url(img/3.png);
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    left: 0;
    top: 550px;
}

@media screen and (max-width:992px) {
    .featured-events .img2 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img2 {
        width: 150px;
        height: 150px;
        background-size: cover;
        top: 490px;
    }
}



.img3 {
    width: 250px;
    height: 250px;
    background-image: url(img/1.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    left: 117px;
    top: 760px;
}

@media screen and (max-width: 992px) {
    .featured-events .img3 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img3 {
        width: 230px;
        height: 230px;
        background-size: cover;
        top: 660px;
        left: 130px;
    }
}


.img4 {
    width: 330px;
    height: 380px;
    background-image: url(img/11.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    left: 470px;
    top: 685px;
}

@media screen and (max-width: 992px) {
    .featured-events .img4 {
        width: 350px;
        height: 350px;
        background-size: cover;
        top: 900px;
        left: 0px;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img4 {
        width: 300px;
        height: 330px;
        background-size: cover;
        top: 750px;
        left: 400px;
    }
}


    .featured-events .img4 {
        width: 290px;
        height: 280px;
        background-size: cover;
        top:760px;
        left:388px;
    }

.img5 {
    width: 170px;
    height: 170px;
    background-image: url(img/2.jpg);
    background-size: cover;
    position: absolute;
    left: 490px;
    bottom: 40px;
}

@media screen and (max-width: 992px) {
    .featured-events .img5 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img5 {
        width: 150px;
        height: 150px;
        background-size: cover;
        bottom: 70px;
        left:382px;
    }
}



.img6 {
    width: 250px;
    height: 250px;
    background-image: url(img/17.jpg);
    background-size: cover;
    opacity: 3;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    left: 390px;
    top: 460px
}

@media screen and (max-width: 992px) {
    .featured-events .img6 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img6 {
        width: 220px;
        height: 220px;
        background-size: cover;
        top: 380px;
        left: 350px;
    }
}



.img7 {
    width: 170px;
    height: 130px;
    background-image: url(img/15.jpg);
    background-size: cover;
    position: absolute;
    top: 530px;
    right: 280px;
}

@media screen and (max-width: 992px) {
    .featured-events .img7 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img7 {
        width: 150px;
        height: 150px;
        background-size: cover;
        top: 450px;
        right: 190px;
    }
}


.img8 {
    width: 250px;
    height: 300px;
    background-image: url(img/19.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    right: 200px;
    top: 210px;
}

@media screen and (max-width: 992px) {
    .featured-events .img8 {
        width: 350px;
        height: 350px;
        background-size: cover;
        top: 500px;
        left: 0px;
    }
}


@media screen and (max-width:1200px)and (min-width: 993px) {
    .featured-events .img8 {
        width: 220px;
        height: 270px;
        background-size: cover;
        top: 150px;
        right: 120px;
    }
}



.img9 {
    width: 170px;
    height: 170px;
    background-image: url(img/10.jpg);
    background-size: cover;
    position: absolute;
    right: 0;
    top: 340px;
}

@media screen and (max-width: 992px) {
    .featured-events .img9 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img9 {
        width: 150px;
        height: 150px;
        background-size: cover;
        top: 470px;
        right: 0px;
    }
}


.img10 {
    width: 250px;
    height: 270px;
    background-image: url(img/13.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 500px;
}

@media screen and (max-width: 992px) {
    .featured-events .img10 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img10 {
        width: 220px;
        height: 220px;
        background-size: cover;
        bottom: 440px;
        right: 0px;

    }
}

.image-container {
    width: 100%;
    height: 270px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-container h1 {
    width: 100%;
    height: 40px;
    background: rgba(171, 0, 229, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-text:hover {
    background: blueviolet;
}

.image-container h6 {
    font-size: 15px;
    color: white;

}

/* @media screen and (max-width: 992px)and(min-width:600px) {
    .featured-events .img10 {
        width: 250px;
        height: 250px;
        background-size: cover;
        top: 780px;
        right: 0px;
    }
} */

.img11 {
    width: 170px;
    height: 170px;
    background-image: url(img/14.jpg);
    background-size: cover;
    position: absolute;
    right: 215px;
    bottom: 310px;
}

@media screen and (max-width: 992px) {
    .featured-events .img11 {
        display: none;
    }
}

@media screen and (max-width:1200px)and (min-width: 992px) {
    .featured-events .img11 {
        width: 150px;
        height: 150px;
        background-size: cover;
        bottom: 270px;
        right: 0px;
    }
}

/* @media screen and (max-width: 992px)and(min-width:600px) {
    .featured-events .img11 {
        width: 130px;
        height: 130px;
        background-size: cover;
        bottom: 100px;
        right: 40px;
    }
} */


/* =============== /////Picture============== */
/* ===============Our Events================*/
.our-events {
    width: 100%;
    height: 1000px;
    padding-top: 80px;
}

.our-events-header {
    width: 100%;
    height: 120px;
    position: relative;
}

@media (max-width: 770px)and (min-width: 575px) {
    .our-events {
        min-height: 1530px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 574px) {
    .our-events {
        min-height: 2100px;
        display: flex;
        justify-content: center;
    }
}

.our-h1 {
    z-index: 99;
    font-size: 50px;
    font-weight: bold;
}

@media screen and (max-width:800px) {
    .our-events-header .our-h1 {
        font-size: 30px;
    }
}

/* .logo-3 {
        width: 150px;
        height: 120px;
        background-image: url(img/logo3.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 450px;
    }

    @media screen and (max-width:1000px) {
        .our-events-header .logo-3 {
            display: none;
        }
    } */

.our-p-section {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

@media screen and (max-width:800px) {
    .our-events .our-p-section {
        height: 120px;
    }
}

.our-p {
    text-align: center;
    font-size: 19px;
    color: gray;
}

@media screen and (max-width:800px) {
    .our-p-section .our-p {
        font-size: 17px;
    }
}

.our-events-picture {
    width: 100%;
    height: 740px;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-events .our-events-picture {
        width: 100%;
        height: 580px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-events .our-events-picture {
        width: 100%;
        height: 450px;
        /* margin: auto; */
    }
}
  /* @media(max-width:570px) {
    .our-events 
    .our-image-1,
    .our-image-2,
    .our-image-3 
    {
      display: flex;
      flex-direction:column;
      align-items: center; 
       
    }
} 
@media(max-width:570px) {
    .our-image-1,
    .our-image-2,
    .our-image-3 
    .price
    {
     display: none;
    }
}  */

@media screen and (max-width: 575px) {
    .our-events .our-p-section {
        margin-bottom: 200px;

    }
}

.our-image-1,
.our-image-2,
.our-image-3 {
    width: 100%;
    height: 470px;
    margin: 15px;
    position: relative;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-events-picture .our-image-1 {
        width: 220px;
        height: 480px;
        margin-top: 30px;
    }
}

@media screen and (max-width:1000px)and (min-width: 500px) {
    .our-events-picture .our-image-1 {
        width: 180px;
        height: 350px;
    }
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-events-picture .our-image-2 {
        width: 220px;
        height: 480px;

    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-events-picture .our-image-2 {
        width: 180px;
        height: 350px;

    }
}


@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-events-picture .our-image-3 {
        width: 220px;
        height: 480px;

    }
}

@media screen and (max-width:1000px)and (min-width:575px) {
    .our-events-picture .our-image-3 {
        width: 180px;
        height: 350px;
    }
}

/* =============== */
@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-1 .our-img-1 {
        width: 250px;
        height: 350px;
        background-size: cover;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-1 .our-img-1 {
        width: 180px;
        height: 250px;
        background-size: cover;
        margin-top: 70px;
    }
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-2 .our-img-2 {
        width: 250px;
        height: 350px;
        background-size: cover;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-2 .our-img-2 {
        width: 180px;
        height: 250px;
        background-size: cover;
        margin-top: 70px;

    }
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-3 .our-img-3 {
        width: 250px;
        height: 350px;
        background-size: cover;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-3 .our-img-3 {
        width: 180px;
        height: 250px;
        background-size: cover;
        margin-top: 70px;
    }
}

/* =============== */

.our-img-1 {
    width: 350px;
    height: 430px;
    background-image: url(img/baki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.our-img-2 {
    width: 350px;
    height: 430px;
    background-image: url(img/qebele.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.our-img-3 {
    width: 350px;
    height: 430px;
    background-image: url(img/gence.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ================img================= */
/* =============text font============ */
.img-h1 {
    font-size: 30px;
    margin-top: 25px;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-1 .our-img-header {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:1000px)and (min-width: 675px) {
    .our-image-1 .our-img-header {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 575px) {
    .our-image-1 .our-img-header {
        display: none;
    }
}


@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-2 .our-img-header {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:1000px)and (min-width:575px) {
    .our-image-2 .our-img-header {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 575px) {
    .our-image-2 .our-img-header {
        display: none;
    }
}



@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-3 .our-img-header {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-3 .our-img-header {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 575px) {
    .our-image-3 .our-img-header {
        display: none;
    }
}





@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-1 .img-h1 {
        font-size: 16px;
        margin-top: 25px;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-1 .img-h1 {
        font-size: 16px;
        margin-top: 20px;
    }
}

.img-h2 {
    font-size: 20px;
    margin-top: 17px;
    color: grey;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-img-header .img-h2 {
        font-size: 17px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-img-header .img-h2 {
        font-size: 14px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-2 .img-h1 {
        font-size: 16px;
        margin-top: 25px;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-2 .img-h1 {
        font-size: 16px;
        margin-top: 20px;
    }
}

.img-h3 {
    font-size: 20px;
    margin-top: 16px;
    margin-left: 5px;
    color: purple;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-img-header .img-h3 {
        font-size: 17px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1000px)and (min-width:575px) {
    .our-img-header .img-h3 {
        font-size: 14px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-image-3 .img-h1 {
        font-size: 16px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-image-3 .img-h1 {
        font-size: 16px;
        margin-top: 30px;
    }
}

.img-p {
    font-size: 17px;
    color: grey;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-img-header .img-p {
        font-size: 17px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-img-header .img-p {
        font-size: 14px;
        margin-top: 20px;
    }
}

.img-a {
    font-size: 20px;
    color: grey;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .our-img-header .img-a {
        font-size: 17px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1000px)and (min-width: 575px) {
    .our-img-header .img-a {
        font-size: 14px;
        margin-top: 20px;
    }
}

.img-a:hover {
    color: purple;
}

.price {
    width: 70px;
    height: 70px;
    background: purple;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: -30px;
}

.price-h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

/* =============/////Our Events============== */
/*=============== Event-Baku================= */
.Event-baku {
    width: 100%;
    height: 1580px;
    background-image: url(img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 320px;
}

@media(max-width:1000px) {
    .event-baku {
        min-height: 1500px;
    }
}

@media(max-width:800px) {
    .event-baku-header .event-h1 {
        font-size: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: start;
    }
}

.event-baku-header {
    width: 100%;
    height: 100px;
}

.select {
    border: none;
}

@media(max-width:800px) {
    .select .select-menu {
        width: 150px;
        font-size: 20px;
    }
}

.select-menu {
    width: 200px;
    height: 60px;
    background: linear-gradient(270deg, rgba(171, 0, 229, 1) 0%, rgba(88, 20, 121, 1) 100%);
    display: inline-block;
    border: 3px solid white;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    flex: wrap;
}

.select-menu:hover {
    background: rgba(88, 20, 121, 1);
}

option {
    color: white;
    background: rgba(171, 0, 229, 1);
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.event-h1 {
    font-size: 60px;
    color: white;
}

.event-baku-picture {
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.event-image-1,
.event-image-2,
.event-image-3,
.event-image-4,
.event-image-5,
.event-image-6 {
    width: 160px;
    height: 500px;
    margin-left: 5px;
    position: relative;
    width: 100%;
}

.event-image-1:hover .event-img-1 {
    opacity: 0.3;
    color: rgba(171, 0, 229, 1);
    transition: 0.6 ease;
}

.event-image-2:hover .event-img-2 {
    opacity: 0.3;
    color: rgba(171, 0, 229, 1);
    transition: 0.6 ease;
}

.event-image-3:hover .event-img-3 {
    opacity: 0.3;
    color: rgba(171, 0, 229, 1);
    transition: 0.6 ease;
}

.event-image-4:hover .event-img-4 {
    opacity: 0.3;
    color: rgba(171, 0, 229, 1);
    transition: 0.6 ease;
}

.event-image-5:hover .event-img-5 {
    opacity: 0.3;
    color: rgba(171, 0, 229, 1);
    transition: 0.6 ease;
}

.event-image-6:hover .event-img-6 {
    opacity: 0.3;
    color: rgba(171, 0, 229, 1);
    transition: 0.6 ease;
}

.event-img-1 {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 160px;
    height: 320px;
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-2 {
    width: 160px;
    height: 320px;
    transition: .5s ease;
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-3 {
    width: 160px;
    height: 320px;
    transition: .5s ease;
    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-4 {
    width: 160px;
    height: 320px;
    transition: .5s ease;
    background-image: url(img/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-5 {
    width: 160px;
    height: 320px;
    transition: .5s ease;
    background-image: url(img/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-6 {
    width: 160px;
    height: 320px;
    transition: .5s ease;
    background-image: url(img/9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:1400px) {
    .event-baku-picture .event-image-6 {
        display: none;
    }
}

@media(max-width:900px) {

    .event-image-1,
    .event-image-2,
    .event-image-3,
    .event-image-4,
    .event-image-5 {
        margin-right: 40px 0;
    }
}

@media(max-width:1000px) {

    .event-baku-picture .event-image-4,
    .event-image-5 {
        display: none;
    }
}

@media(max-width:800px) {
    .event-baku-picture .event-image-3 {
        display: none;
    }
}

@media(max-width:800px) {

    .event-baku-picture .event-image-1,
    .event-image-2 {
        width: 40%;
        margin: auto;
    }
}

.e-img-h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.e-img-h2 {
    font-size: 16px;
    color: white;
}

.e-img-h3 {
    font-size: 16px;
    color: purple;
    margin-left: 10px;
}

/* =============/////Event-Baku============== */
/* ===============Partners=========== */
.partners {
    width: 100%;
    height: 500px;
}

@media(max-width:1200px)and(min-width:801px) {
    .partners {
        min-height: 1200px;
    }
}

@media(max-width:800px) {
    .partners {
        display: none;
    }
}

.partners-header {
    width: 100%;
    height: 100px;
    position: relative;
}

.partners-h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    z-index: 99;
}

.logo3 {
    width: 150px;
    height: 120px;
    background-image: url(img/logo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 470px;
}

@media screen and (max-width:1200px) {
    .partners-header .logo3 {
        display: none;
    }
}

.parents-logo-section {
    width: 100%;
    height: 400px;
}

.parents-logo {
    width: 180px;
    height: 100px;
    margin-left: 25px;
    margin: 20px;
}

@media screen and (max-width:1200px)and (min-width: 1000px) {
    .parents-logo-section .parents-logo {
        width: 160px;
        height: 80px;
        margin-left: 15px;
        margin: 10px;
    }
}

@media screen and (max-width:1000px)and (min-width: 600px) {
    .parents-logo-section .parents-logo {
        width: 125px;
        height: 70px;
        margin-left: 10px;
        margin: 10px;
    }
}


@media screen and (max-width:1200px)and (min-width: 1000px) {
    .parents-logo .p-logo {
        width: 90%;
        height: 46px;
        margin-left: 7px;
        margin: 7px;
    }
}

@media screen and (max-width:1000px)and (min-width: 600px) {
    .parents-logo .p-logo {
        width: 100%;
        height: 38px;
        margin-left: 14px;
        margin: 10px;
    }
}

/* ===========/////Partners================*/
/* ===================Form================= */
.form-section {
    width: 100%;
    height: 550px;
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-header {
    width: 100%;
    height: 40px;
}

.form-h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.form-header-2 {
    width: 100%;
    height: 90px;
}

.control {
    text-align: start;
    font-style: italic;
    border-radius: 5px;
    border: none;
}


.form-h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* .input-area{
        width: 100%;
    } */
/* @media screen and (max-width: 600px) {
       .area .input-area {
        width: 380px;
        }
    }  */
/* ==================/////Form============= */
/* ===================Foooter============== */
.footer-section {
    width: 100%;
    height: 480px;
    background: #08011E;
    padding-top: 70px;
}

.footer-logo {
    width: 100%;
    height: 170px;
}

.social-icon {
    width: 100%;
    height: 70px;
}

.icon-1,
.ft-p {
    color: #474343;
    font-size: 15px;
}

.icon {
    font-size: 20px;
    color: white;
    margin-left: 25px;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover {
    color: #ff07fe;
    transform: .3 ease;
}

.footer-a {
    font-size: 15px;
    color: #ff07fe;
}

.footer-a:hover {
    color: white;
}

/* ================/////Foooter============== */
/* ====arrow-buttom==== */
.arrow-up-buttom {
    width: 40px;
    height: 40px;
    float: right;
    background: #ff07fe;
    border: 3px solid white;
    border-radius: 50%;
    position: fixed;
    right: 64px;
    bottom: 84px;
    z-index: 99;
}

.arrow {
    font-size: 20px;
    color: white;
}

.arrow-up-buttom:hover {
    background: rgba(171, 0, 229);
    transition: 0.4 ease;
}